html {

}

body {
	background-color: #ccc;
	font-family: 'Segoe UI', 'Tahoma';
	font-height: 1.5rem;
	font-size: 20px;
	margin: 0;
}


t {
	display: block;
	font-size: 18px;
	color: #333333;
}

//280419880abc